.container-arrow {
  position: absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;

  &__arrow {
    height: 30px;
    width: 30px;

    &--white {
      filter: invert(100%) sepia(50%) saturate(576%) hue-rotate(300deg)
        brightness(104%) contrast(99%);
    }
  }
}
