/* mobile landscape */

@media (max-device-width: 980px) and (orientation: landscape) {
  .header {
    .logo {
      transform: scale(0.5);
      position: relative;
      left: -5vw;
    }

    .hamburger {
      position: relative;
      left: -3vw;
    }

    &__navbar {
      .navbar__list {
        font-size: 3vw;
      }
    }
  }
  .section-title {
    margin-top: 10vh;

    &__title {
      font-size: 5vw;
    }

    &__sub-title {
      font-size: 3vw;
      line-height: 8vh;
    }

    em {
      font-size: 2vw;
    }
  }

  .section-intro {
    &__text {
      font-size: 3.5vw;
    }

    &__image {
      width: 70%;
      height: 40%;
    }
  }

  .section-portfolio {
    &__title {
      font-size: 4vw;

      &--underlined {
        font-size: 5vw;
      }
    }
    &__cto {
      font-size: 2.5vw;
      margin-top: 20vh;
    }

    .row {
      margin-top: 10vh;
    }

    &__figcaption-image {
      font-size: 2vw;
    }
  }

  .section-service {
    &__content {
      &-title {
        font-size: 5.5vw;
      }
      &-image {
        &-caption {
          font-size: 2.5vw;
          &-cto {
            font-size: 2.5vw;
          }
        }
      }
    }
  }

  .section-partner {
    padding-top: 30vh;
    &__title {
      font-size: 6vw;
    }
    &__logo {
      transform: scale(0.8);
    }

    .row {
      margin-top: 20vh;
    }
  }

  .section-footer {
    font-size: 2vw;

    &-content {
      &-credits {
        font-size: 2vw;
      }
    }
  }

  .section-maps {
    padding-top: 40vh;
  }
}

/* tablet landscape */

@media (min-device-height: 600px) and (max-device-width: 1200px) and (orientation: landscape) {
  .section-intro {
    &__text {
      font-size: 3.5vw;
    }

    &__image {
      width: 45% !important;
      height: 80% !important;
    }
  }
  .section-portfolio {
    .row {
      padding-top: 8vh;
      padding-bottom: 8vh;
    }
    &__figcaption-image {
      font-size: 1.5vw !important;
    }
  }
  .section-service {
    &__content {
      &-title {
        font-size: 4vw;
      }
      &-image {
        &-caption {
          font-size: 2vw !important;
          &-cto {
            font-size: 2vw !important;
          }
        }
      }
    }
  }

  .section-footer {
    font-size: 1.5vw !important;

    &-content {
      &-credits {
        font-size: 1.5vw !important;
      }
    }
  }
}

/* surface pro 7 landscape */

@media (min-device-height: 900px) and (max-device-width: 1400px) and (orientation: landscape) {
  .section-intro {
    &__text {
      font-size: 3.5vw;
    }

    &__image {
      width: 45% !important;
      height: 80% !important;
    }
  }

  .section-portfolio {
    .row {
      padding-top: 4vh;
      padding-bottom: 4vh;
    }
  }

  .section-service {
    &__content {
      &-title {
        font-size: 5vw;
      }
      &-image {
        &-caption {
          font-size: 2vw;
          &-cto {
            font-size: 2vw;
          }
        }
      }
    }
  }
}

/* tablet potrait */

@media (min-width: 768px) {
  .header {
    &__navbar {
      .navbar__list {
        font-size: 4vw;
      }
    }
  }

  .section-title {
    margin-top: 10vh;
    &__title {
      font-size: 5vw;
    }

    &__sub-title {
      font-size: 3.5vw;
    }

    em {
      font-size: 2.5vw;
    }
  }

  .section-portfolio {
    &__title {
      font-size: 5vw;
      padding-left: 18vw;
      padding-right: 18vw;

      &--underlined {
        font-size: 6vw;
      }
    }

    &__cto {
      font-size: 3vw;
    }
    &__figcaption-image {
      font-size: 2.5vw;
    }
  }

  .section-service {
    &__content {
      &-title {
        font-size: 6.5vw;
      }

      &-image {
        &-caption {
          font-size: 2.5vw;
          &-cto {
            font-size: 2.5vw;
          }
        }
      }
    }
  }

  .section-footer {
    font-size: 2vw;

    &-content {
      &-credits {
        font-size: 2vw;
      }
    }
  }
}

/* PC */

@media (min-width: 992px) {
  .header {
    height: auto;
    background-color: transparent;
    &__navbar {
      .navbar__list {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        font-size: 1vw;
        position: initial;
        width: auto;

        li {
          text-align: initial;
        }

        li:nth-of-type(1) {
          text-align: center;
        }

        /*** CTO ***/

        li:last-of-type {
          background-color: variable.$cto;
          border-radius: 10px;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 20px;
        }

        li:last-of-type:hover {
          filter: drop-shadow(5px 5px 10px variable.$background-color);
        }

        /*** - ***/

        &-link {
          border-bottom: none;
        }
      }
    }
  }

  .section-title {
    margin-top: 2vh;
    &__title {
      font-size: 4vw;
    }

    &__sub-title {
      font-size: 1.5vw;
    }

    em {
      font-size: 1vw;
    }
  }

  .section-intro {
    &__text {
      font-size: 2vw;
      text-align: justify;
    }

    &__image {
      width: 40%;
      height: 70%;
    }
  }

  .section-portfolio {
    height: 100vh;
    margin-bottom: 18vh;
    transform: scale(0.95);
    display: flex;
    align-items: center;
    &-content {
      height: 100%;
    }

    &__title {
      font-size: 4vw;
      width: 30%;
      padding: 0;
      position: absolute;
      top: 10vh;

      &--underlined {
        font-size: 4vw;
      }
    }

    .row:nth-of-type(1) {
      position: relative;
      top: 100px;
      justify-content: end;
    }
    .row:nth-of-type(2) {
      position: relative;
      top: -100px;
      justify-content: center;
    }
    .row:nth-of-type(3) {
      position: relative;
      top: -300px;
      align-items: end;
    }

    &__figcaption-image {
      font-size: 1vw;
    }

    /*** CTO ***/

    &__cto {
      font-size: 2vw;
      width: auto;
      height: auto;
    }

    /*** - ***/
  }

  .section-service {
    position: relative;

    &__content {
      position: absolute;
      height: fit-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &-title {
        font-size: 4vw;
        margin-top: 15vh;
        margin-bottom: 15vh;
      }
      &-image {
        &-caption {
          font-size: 1.5vw;
          &-cto {
            font-size: 1.2vw;
          }
        }
      }
    }
  }

  .section-partner {
    padding-top: 20vh;
    &__title {
      font-size: 4.5vw;
    }
    &__logo {
      transform: scale(0.7);
    }

    .row {
      margin-top: 20vh;
    }
  }

  .section-footer {
    font-size: 1vw;

    &-content {
      &-credits {
        font-size: 1vw;
      }
    }
  }

  .section-maps {
    padding-top: 10vh;
  }
}
