@media (max-device-width: 980px) and (orientation: landscape) {
  .header {
    .logo {
      transform: scale(0.5);
      position: relative;
      left: -5vw;
    }

    .hamburger {
      position: relative;
      left: -3vw;
    }

    &__navbar {
      .navbar__list {
        font-size: 3vw;
      }
    }
  }
  .section-title {
    margin-top: 10vh;

    &__title {
      font-size: 4.5vw;
    }

    &__sub-title {
      font-size: 2.5vw;
      line-height: 8vh;
    }

    em {
      font-size: 2vw;
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__navbar {
      .navbar__list {
        font-size: 4vw;
      }
    }
  }

  .section-title {
    margin-top: 10vh;
    &__title {
      font-size: 5vw;
    }

    &__sub-title {
      font-size: 3.5vw;
    }

    em {
      font-size: 2.5vw;
    }
  }
}

@media (min-width: 992px) {
  .header {
    height: auto;
    background-color: transparent;
    &__navbar {
      .navbar__list {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        font-size: 1vw;
        position: initial;
        width: auto;

        li {
          text-align: initial;
        }

        li:nth-of-type(1) {
          text-align: center;
        }

        /*** CTO ***/

        li:last-of-type {
          background-color: variable.$cto;
          border-radius: 10px;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 20px;
        }

        li:last-of-type:hover {
          filter: drop-shadow(5px 5px 10px variable.$background-color);
        }

        /*** - ***/

        &-link {
          border-bottom: none;
        }
      }
    }
  }

  .section-title {
    &__title {
      font-size: 4vw;
    }

    &__sub-title {
      font-size: 1.5vw;
    }

    em {
      font-size: 1vw;
    }
  }
}

@media (min-width: 1440px) {
  .section-portfolio {
    padding: 10vh 10vw;
  }
}
