/* mobile landscape */

@media (max-device-width: 980px) and (orientation: landscape) {
  .header {
    .logo {
      transform: scale(0.5);
      position: relative;
      left: -5vw;
    }

    .hamburger {
      position: relative;
      left: -3vw;
    }

    &__navbar {
      .navbar__list {
        font-size: 3vw;
      }
    }
  }
  .section-title {
    margin-top: 10vh;

    &__title {
      font-size: 4.5vw;
    }

    &__sub-title {
      font-size: 2.5vw;
      line-height: 8vh;
    }

    em {
      font-size: 2vw;
    }
  }

  .section-portfolio {
    &__title {
      font-size: 4vw;

      &--underlined {
        font-size: 5vw;
      }
    }
    &__cto {
      font-size: 5vw;
    }

    .row {
      margin-top: -100px;
      transform: scale(0.5);
    }

    &__figcaption-image {
      font-size: 4.5vw;
    }
  }
}

/* tablet landscape */

@media (min-device-height: 600px) and (max-device-width: 1200px) and (orientation: landscape) {
  .section-portfolio {
    .row {
      padding-top: 8vh;
      padding-bottom: 8vh;
    }
  }
}

/* surface pro 7 landscape */

@media (min-device-height: 900px) and (max-device-width: 1400px) and (orientation: landscape) {
  .section-portfolio {
    .row {
      padding-top: 4vh;
      padding-bottom: 4vh;
    }
  }
}

/* tablet potrait */

@media (min-width: 768px) {
  .header {
    &__navbar {
      .navbar__list {
        font-size: 4vw;
      }
    }
  }

  .section-title {
    margin-top: 10vh;
    &__title {
      font-size: 5vw;
    }

    &__sub-title {
      font-size: 3.5vw;
    }

    em {
      font-size: 2.5vw;
    }
  }

  .section-portfolio {
    &__title {
      font-size: 5vw;
      padding-left: 18vw;
      padding-right: 18vw;

      &--underlined {
        font-size: 6vw;
      }
    }

    &__cto {
      font-size: 3vw;
    }
    &__figcaption-image {
      font-size: 2.5vw;
    }
  }
}

/* PC */

@media (min-width: 992px) {
  .header {
    height: auto;
    background-color: transparent;
    &__navbar {
      .navbar__list {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        font-size: 1vw;
        position: initial;
        width: auto;

        li {
          text-align: initial;
        }

        li:nth-of-type(1) {
          text-align: center;
        }

        /*** CTO ***/

        li:last-of-type {
          background-color: variable.$cto;
          border-radius: 10px;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 20px;
        }

        li:last-of-type:hover {
          filter: drop-shadow(5px 5px 10px variable.$background-color);
        }

        /*** - ***/

        &-link {
          border-bottom: none;
        }
      }
    }
  }

  .section-title {
    margin-top: 2vh;
    &__title {
      font-size: 4vw;
    }

    &__sub-title {
      font-size: 1.5vw;
    }

    em {
      font-size: 1vw;
    }
  }

  .section-portfolio {
    height: 100vh;
    margin-bottom: 10vh;
    &__title {
      font-size: 4vw;
      width: 30%;
      padding: 0;
      position: absolute;
      top: 5vh;

      &--underlined {
        font-size: 4vw;
      }
    }

    .row:nth-of-type(1) {
      position: relative;
      top: 100px;
      justify-content: end;
    }
    .row:nth-of-type(2) {
      position: relative;
      top: -100px;
      justify-content: center;
    }
    .row:nth-of-type(3) {
      position: relative;
      top: -300px;
      align-items: end;
    }

    .row:last-of-type {
      display: flex;
      justify-content: end;
    }

    &__figcaption-image {
      font-size: 1vw;
    }

    /*** CTO ***/

    &__cto {
      font-size: 2vw;
      width: auto;
    }

    /*** - ***/
  }
}
