$background-color: #0b0a07;
$text-color: #fefbf3;
$text-color-hover: #b1aea5;
$text-color-section-intro: #646461;
$text-color-section-service: #646461;
$cto: #cf5c36;
$header-expand-mobile-tablet: #2c3333;
$section-color: #d9d9d9;
$section-maps: #ffe381;
