@use "./tools/variable";
@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/maps";
@import "./bootstrap/mixins";
@import "./bootstrap/root";
@import "./bootstrap/reboot";
@import "./bootstrap/images";
@import "./bootstrap/containers";
@import "./bootstrap/grid";
@import "./bootstrap/utilities";
@import "./bootstrap/utilities/api";
@import "./tools/font";
@import "./tools/link";
@import "./section/header.scss";
@import "./hamburgers/hamburgers.scss";
@import "./section/hero.scss";
@import "./section/section-title.scss";
@import "./section/section-intro.scss";
@import "./section/section-portfolio.scss";
@import "./section/section-service.scss";
@import "./section/section-partner.scss";
@import "./section/section-footer.scss";
@import "./section/section-maps.scss";
@import "./tools/query.scss";
@import "./tools/scrollbar.scss";
@import "./tools/selection.scss";
@import "./tools/wave.scss";

html {
  body {
    color: variable.$text-color;
    background-color: variable.$background-color;
    font-family: "itim";
  }
  overflow-y: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}
