@use "./tools/variable";
@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/maps";
@import "./bootstrap/mixins";
@import "./bootstrap/root";
@import "./bootstrap/reboot";
@import "./bootstrap/images";
@import "./bootstrap/containers";
@import "./bootstrap/grid";
@import "./bootstrap/utilities";
@import "./bootstrap/utilities/api";
@import "./tools/font";
@import "./tools/link";
@import "./section/hero.scss";
@import "./section/header.scss";
@import "./section/section-title.scss";
@import "./section/section-portfolio.scss";
@import "./tools/query.scss";

html {
  body {
    color: variable.$text-color;
    background-color: variable.$background-color;
    font-family: "itim";
  }
}
