.header {
  padding-top: 6vh;

  &__navbar {
    .navbar__list {
      display: flex;
      list-style: none;
      height: 100%;
      padding: 0;
      margin: 0;
      font-size: 1vw;

      .row {
        width: 100%;

        .col {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }

        /*** CTO ***/

        .col:last-of-type {
          background-color: variable.$cto;
          filter: drop-shadow(5px 5px 10px variable.$background-color);
          border-radius: 10px;
        }

        /*** - ***/
      }

      .row:nth-of-type(1) {
        .col:nth-of-type(1) {
          li {
            text-align: center;
          }
        }
      }

      &-link:hover {
        color: variable.$text-color-hover;
      }
    }
  }
}
