.header {
  padding-top: 6vh;
  position: absolute;
  z-index: 1;

  /* mobile - tablet */

  .col-6:nth-of-type(4) {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  /*** - ***/

  .hamburger {
    cursor: pointer;
    position: absolute;
    width: 48px;
    height: 48px;
    transition: all 0.25s;
  }

  .hamburger__top-bun,
  .hamburger__bottom-bun {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    width: 18px;
    height: 2px;
    background: variable.$cto;
    transform: rotate(0);
    transition: all 0.25s;
  }

  .hamburger:hover [class*="-bun"] {
    background: variable.$cto;
  }

  .hamburger__top-bun {
    top: 23px;
    transform: translateY(-3px);
  }

  .hamburger__bottom-bun {
    bottom: 23px;
    transform: translateY(3px);
  }

  .open {
    transform: rotate(90deg);
  }

  .open .hamburger__top-bun {
    transform: rotate(45deg) translateY(0px);
  }

  .open .hamburger__bottom-bun {
    transform: rotate(-45deg) translateY(0px);
  }

  &__navbar {
    .navbar__list {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 7vw;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      top: 35vh;
      right: 2vw;
      left: 4.5vw;

      &-link {
        color: variable.$text-color;
        border-bottom: 2px solid variable.$cto;
      }

      &-link:hover {
        color: variable.$text-color-hover;
      }
    }
  }
}

.header-toggle-event {
  height: 100vh;
  background-color: variable.$header-expand-mobile-tablet;
}
