.header {
  padding-top: 6%;
  position: absolute;
  z-index: 1;

  /* mobile - tablet */

  .col-5:nth-of-type(4) {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  /*** - ***/

  &__navbar {
    position: relative;
    .navbar__list {
      list-style: none;
      font-size: 7vw;
      position: absolute;
      margin: 0;
      padding: 0;
      left: 1.2vw;
      top: 35vh;
      width: 100%;
      text-align: center;

      &-link {
        color: variable.$text-color;
        border-bottom: 2px solid variable.$cto;
      }

      &-link:hover {
        color: variable.$text-color-hover;
      }
    }
  }
}

.header-toggle-event {
  height: 100dvh;
  background-color: #2c3333;
}
