.hero {
  height: 100%;
  width: 100%;
  background-image: url("../../img/hero.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 1000000px inset;
  display: flex;
  align-items: center;
}
