.section-footer {
  font-size: 3vw;

  &-content {
    display: flex;
    justify-content: center;

    .col {
      &-6,
      &-12 {
        margin: 1vh auto;
      }
      &-6:first-of-type {
        text-align: end;
      }

      &-6:nth-of-type(3) {
        .section-footer-content__label {
          text-align: end;
        }
      }

      &-12 {
        text-align: center;
      }
    }

    &__link {
      color: variable.$cto;
    }

    &__link:hover {
      color: variable.$text-color-hover;
    }

    &__label {
      margin: 0;
    }

    &-credits {
      font-size: 3vw;
      text-align: center;
      opacity: 0.5;
      padding-bottom: 2vh;
    }

    &-separator {
      display: flex;
      justify-content: center;

      &__separator {
        border: 1px solid variable.$text-color-section-service;
        border-radius: 10px;
        opacity: 1;
        width: 30%;
      }
    }
  }
}
