.section-service {
  background-color: variable.$section-color;

  .row {
    max-width: 100%;
    margin: 0;
  }

  .row:nth-of-type(2) {
    height: fit-content;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    .col {
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    font-size: 9vw;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    color: variable.$cto;
    margin-top: 8vh;
  }

  &__image {
    border-radius: 10px;

    &-caption {
      font-size: 4.5vw;
      color: variable.$text-color-section-service;
    }
  }
}
