.section-intro {
  background-color: variable.$section-color;
  position: relative;

  &__text {
    color: variable.$text-color-section-intro;
    font-size: 5vw;
    text-align: center;
    padding: 3vh 0;

    &-cto {
      border-bottom: 2px solid variable.$cto;
      border-right: none;
      border-left: none;
      border-top: none;
      background-color: transparent;
      font-weight: normal;
      line-height: normal;
      color: inherit;
    }
  }

  .section-intro__cto-info {
    text-align: end;
    font-size: 5vw;
    display: block;
    margin-top: 5vh;

    a {
      color: variable.$cto;
      text-decoration: underline;
    }

    a:hover {
      color: variable.$text-color-hover;
    }
  }

  &__image-container {
    position: absolute;
    top: 50%;
    left: -100vw;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background: rgba(4, 4, 4, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  &__image {
    width: 90%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  &__image-container--visible {
    left: 50%;
  }
}
