.section-office {
    background-color: #d9d9d9;
    padding-top: 10vh;
    overflow-x: hidden;
  }
  .section-office__title {
    font-size: 3.5rem;
    font-style: italic;
    text-align: center;
    width: fit-content;
    position: relative;
    background-color: transparent;
    z-index: 1;
  }
  .section-office__title::before {
    content: "";
    height: calc(100% + 2vh);
    width: calc(100% + 2vw);
    position: absolute;
    left: -1vw;
    top: -1vh;
    background-color: #cf5c36;
    transform: rotate(-2deg);
    z-index: -1;
    border-radius: 10px;
  }
  .section-office .row {
    margin-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
  }


  .section-office_figure {
    border-radius: 10px;
    width: 450px;
  }

  .section-office_picture {
    display: flex;
    justify-content: center;
  }
  
  .section-office_figcaption {
    color: #cf5c36;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }

  @media (max-device-width: 980px) and (orientation: landscape) {

  .section-office {
    padding-top: 30vh;
  }
  .section-office .row {
    margin-top: 20vh;
  }
}

@media (min-width: 992px) {
    .section-office {
        padding-top: 15vh;
      }
      .section-office__title {
        font-size: 5rem;
      }
      .section-office .row {
        margin-top: 20vh;
      }
      .section-office_figure {
        border-radius: 10px;
        width: 500px;
      }
}