.section-portfolio {
  padding: 0 2vw;
  position: relative;

  &__title {
    font-size: 10vw;
    text-align: center;
    padding: 10vw;

    &--underlined {
      font-style: italic;
      border-bottom: 3px solid variable.$cto;
      color: variable.$cto;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 8vw;
    }
  }

  .row {
    display: flex;
    justify-content: center;
  }

  &__image {
    border-radius: 10px;
  }

  &__figcaption-image {
    font-size: 4vw;
  }

  /*** CTO ***/

  &__cto {
    height: fit-content;
    font-size: 4vw;
    background-color: variable.$cto;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    width: fit-content;
    margin-top: 5vh;

    &-link:hover {
      color: variable.$text-color-hover;
    }
  }

  /*** - ***/

  .col-11:last-of-type {
    display: flex;
    justify-content: end;
  }
}
