.section-service {
  background-color: variable.$section-color;

  &__content {
    .row:nth-of-type(2) {
      height: fit-content;
      margin-top: 10vh;
      display: flex;
      justify-content: center;
      .col {
        display: flex;
        justify-content: center;
      }
    }

    &-title {
      font-size: 9vw;
      font-style: italic;
      text-align: center;
      text-decoration: underline;
      color: variable.$cto;
      margin-top: 8vh;
    }

    figure {
      text-align: start;
    }

    &-image {
      border-radius: 10px;

      &-caption {
        font-size: 4.5vw;
        color: variable.$text-color-section-service;
        /*  color: variable.$text-color; */
        &-cto {
          text-align: end;
          font-size: 4vw;

          a {
            color: variable.$cto;
            text-decoration: underline;
          }

          a:hover {
            color: variable.$text-color-hover;
          }
        }
      }
    }
  }
}
