.section-title {
  padding-top: 35vh;

  &__title {
    text-align: center;
    font-size: 9vw;
    font-weight: 100;
  }

  &__sub-title {
    padding-top: 10vh;
    text-align: center;
    font-size: 5.1vw;
    line-height: 3.5vh;

    &--underlined {
      font-style: italic;
      border-bottom: 3px solid variable.$cto;
      color: variable.$cto;
    }

    em {
      font-size: 4vw;
      color: variable.$cto;
    }
  }
}
